BasedOnStyle: LLVM

IndentWidth: 4

NamespaceIndentation: None
FixNamespaceComments: true

Standard: Latest

PointerAlignment: Left

BreakConstructorInitializers: BeforeComma
PackConstructorInitializers: Never
ConstructorInitializerIndentWidth: 4